.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 60px;                              
  padding: 60px;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: 43px auto;
  max-width: 1240px;
}


@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 50px;
  }
}


@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 0;
    margin: 20px auto;
  }
}