.apropos-page {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.apropos-collapses {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1023px;
  margin: 0 auto 50px auto;
}

@media (max-width: 768px) {
  .apropos-collapses {
    gap: 20px;
  }
}
