.Banner-about {
  height: 223px;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}
.collapses-section {
  max-width: 1240px;
  margin: 30px auto;
  padding: 0 20px;
  /* display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 24px;
    color: #555;*/
}
@media (max-width: 768px) {
  .Banner-about {
    height: 150px;
  }
  .collapses-section {
    padding: 0 10px;
  }
}
