.page.erreur404 {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
}
.erreur404-title {
  font-size: 288px;
  color: #ff6060;
  margin: 0;
  font-weight: 700;
}
.erreur404-message {
  font-size: 36px;
  color: #ff6060;
  margin: 20px 0;
  font-weight: 500;
}

.erreur404-link {
  display: flex;
  margin-top: 125px;
  padding: 10px 20px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  text-decoration: underline solid;
  align-items: center;
  font-size: 18px;
}
.erreur404-link:hover {
  background-color: #ff4c4c;
}

@media screen and (max-width: 768px) {
  .page.erreur404 {
    padding: 40px 20px;
    text-align: center;
    justify-content: flex-start;
    height: auto;
  }

  .erreur404-title {
    font-size: 96px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .erreur404-message {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .erreur404-link {
    font-size: 14px;
    font-weight: 500;
    margin-top: 30%;
    text-decoration: underline;
  }
}
