.page.logement {
  padding: 20px;
  max-width: 1240px;
  margin: 0 auto;
}
.page.logement .slideshow {
  margin-bottom: 20px;
}
.loading,
.error {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  color: #ff6060;
}
