.page.logement {
  font-family: "Montserrat", sans-serif;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.logement-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px 0 20px;
  flex-wrap: wrap;
  gap: 50px;
}

.logement-details {
  flex: 1;
  min-width: 300px;
}

.logement-title {
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color: #ff6060;
}

.logement-location {
  font-size: 16px;
  margin: 0 0 20px 0;
  color: #000000;
  font-weight: 500;
}

.logement-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 12px;
}

.logement-aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

.logement-collapses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0;
}

.c .equipments-list {
  margin: 0;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .logement-title {
    font-size: 18px;
  }

  .logement-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .logement-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
    font-size: 10px;
  }

  .logement-aside {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    gap: 140px;
  }

  .logement-collapses {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .equipments-list {
    padding-left: 20px;
    margin-top: 10px;
  }
  .rating {
    display: flex;
    gap: 4px;
  }

  .rating-star {
    width: 18px;
    height: 18px;
  }
}
