.banner {
  position: relative;
  height: 223px;
  border-radius: 25px;
  overflow: hidden;
  margin: 43px auto;              
  max-width: 1240px;               
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  width: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  padding: 0 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    margin: 20px auto;
    width: calc(100% - 40px);     
  }

  .banner-title {
    font-size: 24px;
    text-align: left;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
  }
/*.banner-propos {
  height: 223px;                    
  border-radius: 0;                 
  margin: 0 auto 40px;              
}*/
  
}