.card-link {
  text-decoration: none;
  color: inherit;
}
.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
card-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.card:hover {
  transform: scale(1.02);
}
.card-title {
  position: absolute;
  bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    max-width: 80%;
}