.collapse {
  margin-bottom: 30px;
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: left;
}

.collapse-title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.collapse-arrow {
  transition: transform 0.3s ease;
  font-size: 24px;
}
.collapse-arrow.open {
  transform: rotate(180deg);
}
.collapse-content {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .collapse-title {
    font-size: 13px;
  }
  .collapse-arrow {
    font-size: 18px;
  }
}
