.footer {
  background-color: #000000;
  padding: 50px 20px;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1240px;
  margin: 0 auto;
}

.footer-logo {
  height: 40px;
  filter: brightness(0) invert(1);  /* Logo en blanc */
}

.footer-text {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 12px;
  }
}