/*.footer {
  background-color: #000000;
  color: white;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  margin-top: auto;
  padding: 66px 20px 30px;
  text-align: center;
  box-sizing: border-box;
}

.footer-content {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-logo {
  filter: brightness(0) invert(1);
}
@media (max-width: 768px) {
  .footer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 40px 16px 20px;
  }
  .footer-logo {
    width: 90px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 1.4;
  }
  .footer-content {
    max-width: 1240px;
    min-height: 30vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}*/
.footer {
  background-color: #000000;
  width: 100vw;
  min-height: 30vh;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  margin-top: auto;
  padding: 66px 20px 43px;
  box-sizing: border-box;
}
.footer-logo {
  filter: brightness(0) invert(1);
  align-items: center;
  margin-top: 30px;
}

.footer-content {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .footer {
    background-color: #000000;
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    min-height: 100vh;
  }
  .footer-content {
    padding: 30px;
  }

  .footer-logo {
    width: 100px;
    margin-top: 50px;
  }

  .footer-text {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    width: 120px;
    white-space: normal;
    margin: 0 auto;
  }
}
