.header {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  max-width: 1440px;
}

.header-logo-img {
  width: 210px;
  height: 68px;
}

.header-nav {
  display: flex;
  gap: 57px;
  align-items: center;
}

.header-nav-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.header-nav-item:hover {
  text-decoration: underline;
}
.header-nav-item-active {
  color: #ff6060;
}
@media (max-width: 768px) {
  ..header {
    padding: 20px 16px;
    max-width: none;
    align-items: center;
  }

  .header-logo-img {
    width: 140px;
    height: 45px;
  }

  .header-nav {
    gap: 26px;
    display: flex;
  }

  .header-nav-item {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    line-height: 1;
  }
}
