.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  max-width: 1440px;
  margin: 0 auto;
}

.header-logo-img {
  width: auto;
  height: 68px;
}

.header-nav {
  display: flex;
  gap: 57px;
  align-items: center;
}

.header-nav-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.header-nav-item:hover {
  text-decoration: underline;
}
.header-nav-item-active {
  color: #ff6060;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .header-nav {
    gap: 26px;
    margin-top: 10px;
  }
  header-logo-img {
    height: 47px;
  }
  .header-nav-item {
    font-size: 12px;
    text-transform: uppercase;
  }
}
