.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
}

.slideshow-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  font-size: 120px;
  border: none;
  cursor: pointer;
  padding: 20px;
  user-select: none;
}

.slideshow-arrow-left {
  left: 20px;
}

.slideshow-arrow-right {
  right: 20px;
}

.slideshow-counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .slideshow {
    height: 255px;
    border-radius: 10px;
  }

  .slideshow-arrow {
    font-size: 30px;
    padding: 8px;
  }
  .slideshow-arrow-left {
    left: 8px;
  }

  .slideshow-arrow-right {
    right: 8px;
  }

  .slideshow-counter {
    font-size: 14px;
    bottom: 10px;
  }
}
