html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 100vh;
}
main,
.main-content {
  flex: 1;
  max-width: 1240px;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0;
  }
  .app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
